@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.attribution {
    display: none;
}

* {
    font-family: 'Space Mono', sans-serif;
    transition: 0.5s ease;
}

:root {
    /* MOBILE */
    --strong_cyan: hsl(172, 67%, 45%);

    --very_dark_cyan: hsl(183, 100%, 15%);
    --dark_grayish_cyan: hsl(186, 14%, 43%);
    --grayish_cyan: hsl(184, 14%, 56%);
    --light_grayish_cyan: hsl(185, 41%, 84%);
    --very_light_grayish_cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    --font_size: 24px;

    --card-width: 100%;
    --logo-width: 100%;
    --card-bobolera: 0;
    --card-boborira: 0;
    --card-flex-wrap: wrap;
    --card-col1-width: 80%;
    --card-juco: center;
    --body-bg: linear-gradient(
        0deg,
        var(--light_grayish_cyan) 50%,
        var(--light_grayish_cyan)
    );
    --logo-pos: relative;
    --logo-padding: 45px;
    --card-top: auto;
}

@media only screen and (min-width: 1000px) {
    /* DESKTOP */
    * {
        --card-width: 60%;
        --logo-width: 100%;
        --card-bobolera: 30px;
        --card-boborira: 30px;
        --card-flex-wrap: nowrap;
        --card-col1-width: 47.5%;
        --card-juco: space-between;
        --body-bg: var(--light_grayish_cyan);
        --logo-pos: absolute;
        --logo-padding: 100px;
        --card-top: 250px
    }
}

.logo {
    width: var(--logo-width);
    padding: var(--logo-padding);
    text-align: center;
    position: var(--logo-pos);
}

.card {
    width: var(--card-width);
    justify-content: var(--card-juco);
    background-color: var(--white);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: var(--card-bobolera);
    border-bottom-right-radius: var(--card-boborira);
    display: flex;
    flex-wrap: var(--card-flex-wrap);
    padding: 30px;
    color: hsl(184, 14%, 56%);
    font-weight: 550;

    top: var(--card-top);
    height: fit-content;
    position: relative;
}

.card-col1 {
    width: var(--card-col1-width);
}

.card-col2 {
    width: var(--card-col1-width);
}

.input-col2 {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-person {
    height: 20px;
    margin-top: 15px;
}

.img-dollar {
    height: 20px;
    margin-top: 15px;
}

.img-logo {
    height: 60px;
}

body {
    background: var(--body-bg);
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.bill {
    margin-bottom: 5px;
}

.display {
    display: flex;
    justify-content: space-between;
    background-color: var(--very_light_grayish_cyan);
    /* width: 100%; */

    padding-left: 20px;
    padding-right: 20px;

    font-size: 25px;
    color: var(--light_grayish_cyan);
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.header {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header2 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
}

.header3 {
    width: fit-content;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn-tip {
    height: 50px;
    width: 100%;
    text-align: center;
    /* padding-top: 9px;
    padding-bottom: 9px; */
    border-radius: 5px;
    font-size: 25px;
    background-color: hsl(183, 100%, 15%);
    color: var(--light_grayish_cyan);
    cursor: pointer;
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
}

.btn-left {
    /* margin: 10px; */
    margin-left: 0px;
}

.btn-right {
    /* margin: 10px; */
    margin-right: 0px;
}

.btn-custom {
    color: hsl(186, 18%, 54%);

    height: 50px;
    width: 100%;
    text-align: center;

    /* padding-top: 9px;
    padding-bottom: 9px; */

    border-radius: 5px;
    font-size: 25px;
    background-color: hsl(189, 41%, 97%);
    cursor: pointer;
    transition: 0.25s ease;

    display: flex;
    justify-content: center;
}

.ntext {
    margin-top: 5px;
}

.input-custom {
    width: 95%;
    margin-top: 5px;
    height: 40px;
    line-height: 50px;
    background-color: hsl(183, 100%, 15%);
    cursor: pointer;
}

.txt-result1, .txt-result2{
    font-size: 40px;
    color: hsl(172, 67%, 45%);
}

.rows {
    width: 100%;
}

.card2 {
    /* width: 100%; */
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    color: hsl(185, 41%, 84%);
    font-weight: 550;
    background-color: var(--very_dark_cyan);
}

.card3 {
    height: 93%;
    padding-right: 25px;
}

.card3 .rows .row2 {
    height: fit-content;
    padding-bottom: 100px;
}

.card3 .row2.r1 {
    padding-bottom: 0px;
}

.card3 .btn-reset {
    margin-top: auto;
    height: fit-content;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
}

.btn-reset {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    font-size: 25px;
    background-color: var(--strong_cyan);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    transition: 0.25s ease;
}

.inactive {
    background-color: rgb(0, 108, 110);
    color: hsl(184, 83%, 12%);
}

.noHover {
    pointer-events: none;
}

.btn-reset:hover {
    background-color: hsl(172, 67%, 77%);
    color: hsl(184, 83%, 12%);
}

.row2 {
    width: 100%;
    padding: 5px;
    /* background-color: red; */
    justify-content: space-between;
    height: 60px;
}

.more {
    width: 100%;
}

.less {
    font-size: 12.5px;
    width: 100%;
    color: hsl(184, 14%, 56%);
}

.col1 {
    width: 30%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col2 {
    width: 70%;
    vertical-align: middle;
    text-align: end;
    overflow: hidden;
}

.col3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
}

.col4 {
    width: 100%;
    vertical-align: middle;
    text-align: end;
    overflow: hidden;
    cursor: pointer;
}

.input-col2 {
    cursor: pointer;
    line-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.zero-error {
    color: rgb(250, 97, 97);
}

input[type='number'] {
    padding: 0px;
    text-align: end;
    border: none;
    background-color: hsl(189, 41%, 97%);
    outline: none;
    font-size: 20px;
    color: hsl(183, 100%, 15%);
    font-weight: 800;
    /* padding-right: 10px; */
}

input[type='radio'] {
    opacity: 0;
    width: 100%;
    height: 0px;

    /* opacity: 100;
    width: 100%;
    height: 10px; */
}

input[type='radio']:checked + div {
    background-color: var(--strong_cyan);
    color: var(--very_dark_cyan);
}

.custom-input {
    background-color: hsl(189, 41%, 97%);
    /* padding-top: 5px;
    padding-bottom: 5px; */
    height: 50px;
    line-height: 40px;
}

.border-green {
    /* border: solid red;*/
    box-shadow: inset 0 0 0 2.5px hsl(172, 67%, 45%);
}

.btn-tip:hover {
    background-color: var(--strong_cyan);
    color: var(--very_dark_cyan);
}

label {
    width: 47%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.border-red {
    /* border: solid red;*/
    box-shadow: inset 0 0 0 1px rgb(250, 97, 97);
}

.show {
    display: block;
}

.hide {
    display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
